.Button {
  width: 94%;
  height: 150px;
  margin-left: 36px;
  background-color: #26827a;
  text-align: center;
  color: white;
  background-color: #219b8f;
}
button {
  border-radius: 10px;
  height: 30px;
}
.single {
  padding: 10px;
}
