.Module{
    /* border: 1px solid black; */
    width: 252px;
    height: 326px;
    display: inline-block;
    margin: 26px;
    padding: 10px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;;
    border-radius: 20px;
}
img{
    width: 156px;
    height: 154px;
}
.header{
    margin: 7px;
    font-size: 26px;
}